<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon.jpg">
        <link rel="stylesheet" href="/css/styles.css">
         
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/blue-car-icon-png-5.png" alt="simple image">
        </div>
        
        {{>footer}}
    </body>
</html>